<div class = "wrapper">
  <div class = "container">
    <h1> Stupid Coaching</h1>
    <div class = "block">
      <p><%= @question %></h1>
      <p>- You</p>
    </div>
    <div class = "block">
      <p><%= @answer %></p>
      <p>- Your Coach</p>
    </div>
    <%= link_to "Ask another question", ask_path %>
  </div>
</div>
